aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
discord.py==1.5.1
h11==0.9.0
httpcore==0.10.2
httpx==0.14.3
idna==2.10
multidict==4.7.6
rfc3986==1.4.0
sniffio==1.1.0
typing-extensions==3.7.4.3
yarl==1.5.1
